<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}

    <form>
        <input autocomplete="off" autofocus name="name" placeholder="Location" type="text">
        <button type="submit">Search</button>
    </form>


    {{>footer}}
    
</body>
</html>